@charset 'utf-8';

/*common section*/
*{
	margin: 0;
	padding: 0;
	font-family: "Verdana", "Helvetica", sans-serif, serif;
}
/*common section*/

/*header section*/
#header{
	width: 100%;
	height: 60px;
	 /* fallback for old browsers */
	background: #9900cc; 
}
#logo{
	width: 20%;
	height: 60px;
	float: left;
}
#logo h2{
	text-align: center;
	line-height: 60px;
}
#logo h2 a{
	text-decoration: none;
	color: #fff;
}
#title{
	width: 60%;
	height: 60px;
	float: left;
}
#title h2{
	color: #fff;
	text-align: center;
	line-height: 60px;
}
#link{
	width: 20%;
	height: 60px;
	float: left;
}
#link h3{
	text-align: center;
}
#link h3 a{
	text-decoration: none;
	color:#fff;
	line-height: 60px;
	display: block;
}
#link h3:hover{
	background: #FFBD59;
}
/*header section*/

/*bodyleft section*/
#bodyleft{
	width: 20%;
	height: 550px;
	background: #9900cc;
	float: left;
	overflow-y: auto; 
}
#bodyleft h3{
	margin-bottom: 2%;
	line-height: 30px;
	font-weight: bold;
	color: black;
	text-align: center;
	font-size: 12px;
	background: #FFD266;
	height: 30px;
	padding: 0px; 
}
#bodyleft ul{
	list-style-type: none;
}
#bodyleft ul li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 5%;
	box-sizing: border-box;
}
#bodyleft ul li a{
	display: block;
	text-decoration: none;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
}
#bodyleft ul li:hover{
	background: #8fde6e;
}
/*bodyleft section*/